* {
    margin: 0; 
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: #FFD180;
    padding: 20px 0;
    /* height: calc( - 40px); */
}

#nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_bar>* {
    width: 33%;
    text-align: center;
}

#logo {
    color: #3C227C;
}

#nav_menu ul {
    list-style-type: none;
    padding: none;
    display: flex;
    justify-content: space-around;
}

#nav_menu ul li:first-child {
    color: #4167AF;
}

#account a {
    padding: 10px 20px;
}

#account a:last-child{
    background-color: #F63565;
    color: white;
    border-radius: 5px;
}


#top_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#top_header>* {
    width: 40%;
} 

/* #top_section_content > *:not(:last-child){
    margin-bottom: 30px;
} */

#top_part_img img {
    width: 100%;
}

#top_section_content h2 {
    color: #515249;
    font-size: 30px;
    margin-bottom: 30px;
}

#top_section_content p {
    color: #737B7D;
    margin-bottom: 50px ;
}

#top_section_content a {
    padding: 10px 20px;
    border: 1px solid #F73C6B;
    color: #F73C6B;
}










@media screen and (max-width:846px) {
    #nav_menu {
        width: 50%;
    }

    #logo_part {
        width: 15%;
    }
}

@media screen and (max-width: 800px) {
    /* #top_section_content h2 {
        font-size: 25px !important;
    } */
    #top_header {
        flex-direction: column-reverse;
        padding-top: 100px ;
    }

    #top_header>* {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #account a {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    #nav_bar {
        flex-direction: column;
        padding: unset;
    }

    #nav_bar>* {
        width: 100%;
        margin-bottom: 20px;
    }

    #nav_menu ul {
        width: 100%;
        justify-content: center;
        padding: 0;
        /* padding: 0 50px; */

    }

    #nav_menu ul li {
        padding: 0 30px;
    }
}

@media screen and (max-width: 410px) {
    #nav_menu li {
        padding: 0 15px !important;
    }
}