* {
    margin: 0; 
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

#header {
    width: 100%;
    background-color: #FFD180;
    padding: 45px 0;
    /* height: calc( - 40px); */
}

#nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_bar>* {
    width: 33%;
    text-align: center;
}

#logo {
    color: #3C227C;
    font-size: 30px;
}

#nav_menu ul {
    list-style-type: none;
    padding: none;
    display: flex;
    justify-content: space-around;
}

#nav_menu ul li:first-child {
    color: #4167AF;
}

#account a {
    padding: 10px 20px;
}

#account a:last-child{
    background-color: #F63565;
    color: white;
    border-radius: 5px;
}


#top_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#top_header>* {
    width: 40%;
} 

/* #top_section_content > *:not(:last-child){
    margin-bottom: 30px;
} */

#top_part_img img {
    width: 100%;
}

#top_section_content h2 {
    color: #515249;
    font-size: 50px;
    margin-bottom: 50px;
}

#top_section_content p {
    color: #737B7D;
    margin-bottom: 50px ;
    font-size: 20px;
}

#top_section_content a {
    padding: 10px 20px;
    border: 1px solid #F73C6B;
    color: #F73C6B;
    font-size: 25px;
    display: block;
    /* margin-top: 50px; */
    width: fit-content;
    border-radius: 5px;
}




#media {
    display: flex;
    width: 100%;
    padding: 200px 0;
    align-items: center;
}

#media > * {
    width: 50%;
}

.media_texts {
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #f9e9f1;
    padding: 30px 20px;
    margin-bottom: 40px;
}

.media_texts:first-of-type {
    color: white;
    background-color: #4F55DD;
}

#media_image img {
    width: 60%;
}


#scratch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #FFA2AA;
}

#scratch > * {
    width: 50%;
}

#scratch_img {
    text-align: center;
    margin-top: 150px;
}

#scratch_img img {
    width: 55%;
}

#scratch_content > * {
    margin-bottom: 30px;
    color: white !important;
}

#scratch_content_img {
    width: 80%;
    text-align: right;
}

#scratch_semi_title {
    font-size: 19px;
    font-weight: bold;
    color: #2B3436;
}

#scratch_title {
    font-size: 40px;
    color: #2B3436;
    margin-bottom: 50px;
}

#scratch_content p:last-child {
    color: #aaaaaa;
    width: 50%;
    font-size: 18px;
}

#design {
    padding: 200px 0;
    width: 100%;
}

#design_title {
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 50px;
    color: #23242A;
}

#values {
    display: flex;
    width: 1200px;
    margin: auto;
}

#values > * {
    width: 350px;
    height: 400px;
    /* background-color: green; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 30px;
    box-shadow: 0 0 10px rgb(231, 231, 231);
}

#values article:nth-child(2) {
    /* background-color: ; */
    margin: 0 75px;
}

.card_title {
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    top: 55px;
    left: 30px;
    color: #1B1C23;
}

.cards span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 30px;
    font-size: 20px;
    width: calc(100% - 60px);
    border-radius: 0 0 15px 15px;
}

.cards:first-child span {
    background-color: #FFD281;
}

.cards:nth-child(2) span {
    background-color: #8CE1B3;
}

.cards:last-child span {
    background-color: #FFA3AB;
}

footer {
    width: 100%;
    background-color: #96E9B8;
    padding: 50px 0;
    position: relative;
}

#spring {
    width: 200px;
    position: absolute;
    right: 50px;
    top: -90px;
}

#spring2 {
    width: 180px;
    position: absolute;
    bottom: 70px;
    left: 70px;
}

#spring3 {
    width: 180px;
    position: absolute;
    bottom: 50px;
    right: 70px;
}
footer > * {
    width: 80%;
    margin: auto;
}

#top_footer {
    display: flex ;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
#top_footer > *  {
    width: 50%;
}

#footer_text h2 a{
    color: #3C227C;
    font-size: 35px;
}

#footer_text h2 {
    margin-bottom: 25px;
}

#footer_text p {
    width: 80%;
    text-align: justify;
    text-justify: auto;
    color: #454646;
}

#top_footer_links {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.vertical_links h4 {
    margin-bottom: 40px;
    font-size: 20px;
    color: #4B745C;
}

.vertical_links li {
    padding: 10px 0;
    color: #416450;
    font-size: 15px;
}

#bottom_footer_links ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

#bottom_footer_links ul li {
    font-size: 20px;
}

#bottom_footer {
    padding: 20px 0;
}

#footer_img {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#footer_img img {
    width: 70px;
}
#term {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #6B907A;
}
@media screen and (max-width: 1260px) {
    #top_section_content h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1220px) {
    #design_title {
        width: 80%;
    }

    #values{
        width: 80%;
    }

    .card_title {
        font-size: 30px;
        font-weight: bold;
    }
}


@media screen and (max-width: 1100px) {
    #values {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        margin-bottom: 50px !important;
    }

    #top_footer {
        flex-direction: column;
        align-items: center;
    }
    #footer_text {
        width: 80%;
    }
    #footer_text p {
        width: 100%;
    }

    #bottom_footer_links ul {
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* font-size: 15px; */
        /* text-align: center; */
    }

    #bottom_footer_links ul li {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 992px) {
    #top_header {
        flex-direction: column-reverse;
        padding-top: 100px ;
    }

    #top_header>* {
        width: 70%;
    }
    #media {
        flex-direction: column-reverse;
    }
    #media > * {
        width: 80%;
    }

    #media_image {
        text-align: center;
    }

    #scratch {
        flex-direction: column;
        /* background-color: #FFA2AA; */
    }

    #scratch > * {
        width: 80%;
    }

    #scratch_content {
        text-align: center;
    }

    #scratch_content p:last-child {
        margin: auto;
    }
    #scratch_img {
        width: 100%;
    }

    #top_footer_links {
        flex-direction: column;
        align-items: center;
    }

    .vertical_links {
        text-align: center;
        margin-bottom: 20px;
    }

    #footer_img {
        width: 50%;
        margin: auto;
    }
}



@media screen and (max-width:846px) {
    #nav_menu {
        width: 50%;
    }

    #logo_part {
        width: 15%;
    }

    #design_title {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    /* #top_header {
        flex-direction: column-reverse;
        padding-top: 100px ;
    }

    #top_header>* {
        width: 70%;
    } */
}

@media screen and (max-width: 768px) {
    #account a {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    #nav_bar {
        flex-direction: column;
        padding: unset;
    }

    #nav_bar>* {
        width: 100%;
        margin-bottom: 20px;
    }

    #nav_menu ul {
        width: 100%;
        justify-content: center;
        padding: 0;
        /* padding: 0 50px; */

    }
    #design_title {
        font-size: 30px;
    }

    #nav_menu ul li {
        padding: 0 30px;
    }
}

@media screen and (max-width: 568px) {
    #scratch >* {
        width: 95%;
    }

    #scratch_content p:last-child {
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    #nav_menu li {
        padding: 0 15px !important;
    }
}