* {
    margin: 0;
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: #FFD180;
    padding: 20px;
    height: calc(10vh - 40px);
}

#nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_bar>* {
    width: 33%;
    text-align: center;
}

#logo {
    color: #3C227C;
}

#nav_menu ul {
    list-style-type: none;
    padding: none;
    display: flex;
    justify-content: space-around;
}

#nav_menu ul li:first-child {
    color: #4167AF;
}

#account a {
    padding: 10px 20px;
}

#account a:last-child{
    background-color: #F63565;
    color: white;
    border-radius: 5px;
}